digraph G {
    label = "{{chart_label}}";
    ranksep = .1
    {% for sprint, stories in clusters.items() %}
    subgraph cluster_{{ loop.index }} {
        style=filled;
        color=lightgrey;
        {% set ns = namespace(sp_total = 0) %}
        node [style=filled,color=white];
        {% for storyId, storySP in stories %}
        {% set ns.sp_total = ns.sp_total + storySP %}
        {% if loop.index < loop.length %}
        "{{ storyId }} ({{ storySP }})" ->       
        {% else %}
        "{{ storyId }} ({{ storySP }})"
        {% endif %}
        {% if loop.index == loop.length %}
        {% if loop.index > 1 %}
        [style=invis];
        {% else %}
        ;
        {% endif %}
        {% endif %}
        {% endfor %}
        label = "{{ sprint }} ({{ ns.sp_total }})";
    }
    {% endfor %}
    {% for storyId, storySP, blockerId, blockerSP in vectors %}
    "{{ storyId }} ({{ storySP }})" -> "{{ blockerId }} ({{ blockerSP }})";
    {% endfor %}
}
